{% extends "header.html" %}

{% block content %}
<script>
  function unpack(user, vars){
    vars.push(user)
    return vars
  }

  var Users = unpack({{User[0]|tojson}}, {{attendees|tojson}})
</script>
<h3> {{ User[0] }}'s Meeting </h3>
<form id='meetingform'>
<div class="btn-group btn-group-toggle" data-toggle="buttons" id="Meeting" style='margin-bottom:10px; width:75%;'>
  <label class="btn btn-secondary active" id='{{ User[0]}}_label'>
    <input type="radio" name="options" autocomplete="off" id='{{ User[0] }}_button' value=1> {{ User[0] }}:<div id='{{ User[0] }}_timer'> 00:00:00 </div>
  </label>
  <script type="text/javascript">
    $('#{{ User[0] }}_button').click(function(){
      timer{{User[0]}}($('#{{ User[0] }}_button').val())
    })

    function timer{{User[0]}}(time){

        if ($('input[name=options]:checked', '#meetingform').attr('id') == '{{User[0]}}_button'){
            setTimeout(function() {
                time++;

                var min = Math.floor(time/100/60);
                var sec = Math.floor(time/100);
                var mSec = time % 100;

                if (min < 10) min = "0" + min;

                if (sec >= 60) sec = sec % 60;

                if (sec < 10) sec = "0" + sec;

                if (mSec < 10) mSec = "0" + mSec;

                display_time = min + ":" + sec + ":" + mSec
                if ($('#{{User[0]}}_button').val() != 0) {
                  $('#{{User[0]}}_timer').html(display_time);
                  $('#{{User[0]}}_button').val(time)
                }
                else{
                  $('#{{User[0]}}_button').val(1)
                }
                timer{{User[0]}}(time);
            }, 10);}
        }
  </script>
{% for attendee in attendees %}

<label class="btn btn-secondary active">
  <input type="radio" name="options" id="{{ attendee }}_button" autocomplete="off" value=1> {{ attendee }}:<div id="{{ attendee }}_timer"> 00:00:00 </div>
</label>
<script type="text/javascript">
  $('#{{ attendee }}_button').click(function(){
    timer{{attendee}}($('#{{ attendee }}_button').val())
  })

  function timer{{attendee}}(time){

      if ($('input[name=options]:checked', '#meetingform').attr('id') == '{{attendee}}_button'){
          setTimeout(function(){
              time++;
              var min = Math.floor(time/100/60);
              var sec = Math.floor(time/100);
              var mSec = time % 100;

              if (min < 10) min = "0" + min;

              if (sec >= 60) sec = sec % 60;

              if (sec < 10) sec = "0" + sec;

              if (mSec < 10) mSec = "0" + mSec;

              display_time = min + ":" + sec + ":" + mSec

              if ($('#{{attendee}}_button').val() != 0) {
                $('#{{attendee}}_timer').html(display_time);
                $('#{{attendee}}_button').val(time)
              }
              else {
                $('#{{attendee}}_button').val(1)
              }

              timer{{attendee }}(time);
          }, 10);}
      }
</script>
{% endfor %}
<label class="btn btn-secondary active">
  <input type="radio" name="options" id="pause_button" autocomplete="off" value=0> Pause Meeting
</label>

</div>
</form>

<div style='magrin-top : 100px'>
<button type="button" class="btn btn-warning" id='sw-rst'>Restart Meeting</button>
<a class="btn btn-primary" role="presentation" data-toggle="modal" data-target="#addUser[0]" href="#">
    <path fill-rule="evenodd" d="M8.146 11.354a.5.5 0 010-.708L10.793 8 8.146 5.354a.5.5 0 11.708-.708l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0z" clip-rule="evenodd"/>
    <path fill-rule="evenodd" d="M1 8a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9A.5.5 0 011 8z" clip-rule="evenodd"/>
    <path fill-rule="evenodd" d="M13.5 14.5A1.5 1.5 0 0015 13V3a1.5 1.5 0 00-1.5-1.5h-8A1.5 1.5 0 004 3v1.5a.5.5 0 001 0V3a.5.5 0 01.5-.5h8a.5.5 0 01.5.5v10a.5.5 0 01-.5.5h-8A.5.5 0 015 13v-1.5a.5.5 0 00-1 0V13a1.5 1.5 0 001.5 1.5h8z" clip-rule="evenodd"/>
 Add Person</a>
</div>


<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="talking_chart"></canvas>
</div>



<div class="modal fade" id="addUser[0]" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="addUser[0]">Add Person</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <form class="form-inline">
        <input type="text" class="form-control" placeholder="Enter Name" name="newAttendee" value="" id="newAttendee" style="width: 100%">
        <div class="container-fluid" align="center">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Add Attendee" id="addButton">Add Person</button>
        </div>
        </form>

    </div>
    </div>

  </div>
  </div>
</div>

<script src='{{ url_for("static", filename="js/chart.js/dist/Chart.js") }}'></script>

<script src="{{ url_for('static', filename='js/mainMeeting.js') }}"></script>


{% endblock %}
